{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block content %}
<div class="posts">
  <div class="post">
      <h1 class="post-title">
        {{ article.title }}
      </h1>
      {% if article.headline %}
      <p>{{ article.headline }}</p>
      {% endif %}
      <div class="post-infos">
        <span class="post-date"><span>created&nbsp;:&nbsp;</span>{{ article.date | strftime('%Y %B %d') }}</span>
        <span>&nbsp;-&nbsp;</span>
        <span class="post-date"><span>modified&nbsp;:&nbsp;</span>{{ article.modified | strftime('%Y %B %d') }}</span>
        <div class="post-authors">
          <span> by : </span>
          {%- for author in article.authors|sort %}
            <span>{{ article.author }}</span>
          {% endfor %}
        </div>
        <ul class="list-tags post-tags">
        {%- for tag in article.tags|sort %}
            <li>{{ tag }}</li>
        {% endfor %}
        </ul>
      </div>
      {{ article.content }}
  </div>
</div>
{% endblock %}
