{% extends "base.html" %}
{% block content %}
<div class="content-title">
{% block content_title %}
{% endblock %}
</div>
<nav class="tags">
  <span>Articles by tags : </span>
    <ul class="list-tags">
    {%- for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
</nav>
<div class="posts">
  {% for article in articles_page.object_list %}
  {% if not article.unlisted or article.category == category %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h1>
    <span class="post-date">{{ article.locale_date }}</span>
    <br>
    <span class="headline">{{ article.headline }}</span>
    <ul class="list-tags post-tags">
    {%- for tag in article.tags|sort %}
        <li>{{ tag }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% include 'pagination.html' %}
{% endblock content %}
