{% extends "base.html" %}
{% block content %}
    <ul class="list-tags">
    {%- for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
{% endblock %}
