
.icon-quote:before { content: '\e800'; } /* '' */
.icon-flag:before { content: '\e801'; } /* '' */
.icon-link:before { content: '\e802'; } /* '' */
.icon-asterisk:before { content: '\e803'; } /* '' */
.icon-chat:before { content: '\e804'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-bullet:before { content: '\f111'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */