@import "normalize";
@import "vars";
@import "fonts";
@import "pygment";

.profile {
	height: 80px;
	width: 80px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	background: url('../img/profile.png') no-repeat center center;
	background-size: 99% auto;

	img {
		opacity: 0;
		filter: alpha(opactiy=0);
	}

} 
.content-title h2 {
	color: #9a9a9a;
}
.site-logo {
	font-size: 2rem;
	img {
		display: inline-block;
		margin-bottom: 0;
	}
	&:hover {
		text-decoration: none;
	}
}
h1 {
	font-weight: normal !important;
}
html, h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0.025rem !important;
}

code, kbd, pre, samp {
	font-size: 0.8rem;
}

.masthead-title small {
	position: relative;
	top: -10px;
}
.tiny-note {
	font-size: 8pt;
}
.muted {
	color: #9a9a9a !important;
}
ul {
	list-style-type: none;

	li:before {
		font-family: 'fontello';
		content: '\f111';
		color: #9A9A9A;
		font-size: 0.45rem;
		vertical-align: middle;
		margin-right: 5px;
	}
	&.no-bullets li:before,
	&.post-tags li:before,
	&.list-tags li:before {
		content: none;
	}
}
.list-tags {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.list-tags li {
	display: inline-block;
	margin-right: 15px;
}
.label-tags,
.post-date,
.post-authors,
.post-tags {
	color:#9A9A9A;
	font-size: 0.75rem;
}
.post .list-tags {
	margin-bottom: 25px;
}
.content-title,
nav.tags {
	margin-bottom: 20px;
}
.post-date {
	display: inline-block;
	margin: 0;
}
blockquote {
	&.pull-quote {
		background: #FFEDD6;
		color: #FF7500;
	}
	&.epigraph {
		background: none;
		text-align: right;
		color: #9A9A9A;
		display: inline-block;
		padding-right: 0 !important;
		width: 100%;
		&:before,
		&:after {
			font-family: 'fontello';
			content: '\e800';
		}
		&:before {
			margin-right: 30px;
		}
		&:after {
			margin-left: 30px;
		}
	}
}

.epigraph-author {
	text-align: right;
	color: #9A9A9A;
}
.masthead {
	margin-bottom: 2rem;
}

.link-external { 
	a:before {
	  font-family: 'fontello';
	  color: $c-link;
	  font-size: 1rem;
	  vertical-align: middle;
	  margin: 0 5px;
	}
	a:before {
		content: '\f08e';
	}
}
.link-external a:hover,
.link-internal a:hover {
	text-decoration: none;
	color: $c-link-hover;
} 
.link-internal li:before {
	color: $c-link !important;
}
